<% include templates/header.ejs %>
    <div class="container">

          <div class="row">

            
                        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            
                            <form role="form" action="/signup-process" method="post">
                                <h2>Please Sign Up </h2>
                                <hr class="colorgraph">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6 col-md-6">
                                        <div class="form-group">
                                            <input type="text" name="first_name" id="first_name" class="form-control input-lg" placeholder="First Name">
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-6">
                                        <div class="form-group">
                                            <input type="text" name="last_name" id="last_name" class="form-control input-lg" placeholder="Last Name">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6 col-md-6">
                                        <div class="form-group">
                                            <input type="text" name="display_name" id="display_name" class="form-control input-lg" placeholder="User Name">
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-6">
                                        <div class="form-group">
                                            <input type="email" name="email" id="email" class="form-control input-lg" placeholder="Email">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6 col-md-6">
                                        <div class="form-group">
                                            <input type="password" name="password" id="password" class="form-control input-lg" placeholder="Password">
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-6">
                                        <div class="form-group">
                                            <input type="password" name="password_confirmation" id="password_confirmation" class="form-control input-lg" placeholder="Confirm Password">
            
                                        </div>
                                    </div>
                                </div>
            
                                <hr class="colorgraph">
                                <div class="row">
                                    <div class="col-xs-12 col-md-6">
                                        <input type="submit" value="Register" class="btn btn-primary btn-block btn-lg">
                                    </div>
            
                                </div>
                            </form>
                        </div>
            
           
                    <% if(errors){%>
                        <div class="container-fluid error-msg">
                        <% for (var i=0; i <errors.length; i++ ){ %>
                            <span><ul><li><%= errors[i].msg %></li></ul></span>
                        <% } %>
                    </div>
                       <%} %>

           
                    </div>
           
       
            


        <% include templates/footer.ejs %> 